
language: go

go:
  - "1.11.x"

env:
  - GO111MODULE=on

before_install:
  - go get github.com/gorilla/websocket
#- if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi

script:
  make;